<div class="form-vertical">
  {{!-- Guest Name --}}
  <div class="form-group">
    <label class="control-label">Name</label>
    <div class="">
      {{  input type="text" 
          value=item.name
          class="form-control" 
          placeholder="The name of the Guest"
          focus-out=(action (mut this.errMsgDspCntrl.nameError) true)
      }}
    </div>
    {{#if this.errMsgDspCntrl.nameError}}
      <div class="text-danger">
        {{v-get item 'name' 'message'}}
      </div>
    {{/if}}
  </div>
  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++--}}
  {{!-- Guest Nationality --}}
  <div class="form-group">
    <label class="control-label">Countries (using power-select)</label>
    <div class="">
      {{#power-select
        searchPlaceholder="Text to provide user info about what they can search on"
        search=(action "searchCountries")
        selected=nationality
        onchange=(action "nationalityChangeAction")
        as |countries|
      }}
        {{countries.name}}
      {{/power-select}}
      {{!--
      NOTES ON OPTIONS
      ================
      As of commit #e93a867 (2019-7-8) the following comments
      about Options to make this work are redundant as the 
      power-select does now work however I'm going to leave them
      here for a while just for reference.
      --}}
      {{!--
      OPTION ONE
      ==========

      onchange=(action (mut item.nationality))

      This "works" in that the item selected is reflected in the 
      dropdown after the selection. This doesn't "work" in the 
      value placed in the underlying record is the entire structure
      recevied from the server, something like this :

      {'name':'France', alpha2Code:'FR'}

      rather than just the two character alphacode which is what's 
      desired.

      To get around this I have tried amending the `selected` property
      as follows :

      selected=item.nationality.alpha2Code

      but that stops the dropdown "remembering" what items has been 
      selected .

      --}}
      {{!--
      OPTION TWO
      ==========

      onchange=(action "nationalityChangeAction")

      This "works" in that the value placed into the underlying
      record is what you want, a two character country code,
      but it doesn't "work" in that the selection isn't reflected
      in the dropdown itself

      --}}
      {{!--
      OPTION THREE 
      ===========

      onchange=(action (mut item.nationality) 'XXX')

      This isn't all the informative but as a variation on OPTION ONE
      this places 'XXX' into the underlying record but it doesn't 
      "work" in that the selection isn't reflected in the dropdown itself

      --}}
    </div>
    {{#if this.errMsgDspCntrl.nationalityError}}
      <div class="text-danger">
        {{v-get item 'nationality' 'message'}}
      </div>
    {{/if}}
  </div>
  {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++--}}
  {{!-- Buttons --}}
  <div class="form-group">
    <div class="">
      <button type="submit" class="btn btn-default" {{action "buttonSaveClicked" item}}>{{buttonLabel}}</button>
      <button type="button" class="btn btn-default" {{action "buttonCancelClicked" item}} >Cancel</button>
    </div>
  </div>
</div>
{{yield}}
